footer {
    color: black;
    background-color: #ddcfff;
    display: flex;
    justify-content: space-evenly;
  }
  
header {
    color: black;
    padding: 10px;
    background-color: #ddcfff;
    border-bottom: 2px solid rgb(105, 4, 163);
}


#main {
    height: 100%;
    width: 100%;
    align-items: center;
}

#profile-name {
    color: black;
}

#logout-button {
    color: black;
}

#head-content {
    display: flex;
    justify-content: space-evenly;
}

#title {
    font-size: x-large;
    font-family: Bangla MN;
}

.tab {
    margin: 15px;
}

.content {
    display: none;
}
.active-tabs::before{
    content: "";
    display: block;
}

.active-tabs{
    background-color: #d1bff9;
    border-bottom: 1px solid transparent;
    font-size: large;
    padding: 10px;
    border-radius: 2px;
}

.active-content{
    display: flex;
    height: 100%;
    width: 100%;
}

#head-name{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#head-title{
    width: 33%;
}

#head-logout{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}