footer {
    color: black;
    background-color: #ddcfff;
    display: flex;
    justify-content: space-evenly;
    /* position: absolute; */
    /* margin-bottom: 0%; */
  }
  
header {
    color: black;
    padding: 10px;
    background-color: #ddcfff;
}


#main {
    height: 100%;
    width: 100%;
    /* display: flex; */
    align-items: center;
}

#profile-name {
    /* position: absolute; */
    /* margin-top: 0;
    right: 10px;
    top: 10px; */
    /* margin-left: 25%; */
    color: black;
    /* align-self: flex-start; */
}

#logout-button {
    /* position: absolute; */
    /* margin-top: 0;
    right: 10px;
    top: 10px; */
    /* margin-left: 25%; */
    color: black;
    /* align-self: flex-end; */
}

#head-content {
    display: flex;
    justify-content: space-evenly;
    /* justify-content: center; */
}

#title {
    font-size: x-large;
    font-family: copperplate;
}

.tab {
    margin: 15px;
}

.content {
    display: none;
}
.active-tabs::before{
    content: "";
    display: block;
}

.active-tabs{
    background-color: #d1bff9;
    border-bottom: 1px solid transparent;
    font-size: large;
    padding: 10px;
    border-radius: 2px;
}

.active-content{
    display: block;
    height: 100%;
    width: 100%;
}