#plan-form-container{
    height: 50%;
    width: 50%;
    position: absolute;
    right: 25%;
    top: 25%;
    background-color: #ddcfff;
    outline: 1px solid black;
}

#close-form{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: xx-small;
    width: fit-content;
    height: fit-content;
}

#plan-form{
    display: block;
}