.ex-display-container{
    background-color: rgb(187, 163, 252);
    width: 75%;
    padding: 5px;
    margin: 10px;
    position: relative;
}

.ex-display-details{
    overflow-y: scroll;
}

#drop-arrow {
    position: absolute;
    top: 10px;
    right: 10px;
}