.home-card{
    width: 10%;
    height: 90%;
    margin-left: 8px;
    background-color: #ddcfff;
    color: black;
    align-self: center;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.plan-title{
    margin-left: 0px;
}

.plan-creator {
    color: rgb(44, 38, 44);
}