#plan-modal-container{
    height: 50%;
    width: 50%;
    position: absolute;
    right: 25%;
    top: 25%;
    background-color: #ddcfff;
    outline: 1px solid black;
    z-index: 1;
}

#close-modal{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: xx-small;
    width: fit-content;
    height: fit-content;
}

#modal-title{
    color: black;
    margin-left: 0px;
}

#modal-desc{
    color: black;
}

.meal-header{
    color: black;
    width: fit-content;
    align-self: baseline;
    margin-left: 10%;
}

.meal-container{
    width: 80%;
    margin-left: 10%;
    outline: 2px solid rgb(187, 163, 252);
    height: 50%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}