#api-exercises{
    height: 90%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    outline: 1px solid white;
    border-radius: 15px;
    margin-bottom: 120px;
}

#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#searcher{
    display: flex;
    margin: 0 auto;
    margin-top: 5px;
}