#api-exercises{
    height: 90%;
    width: 75%;
    outline: 2px dashed #ddcfff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#searcher{
    display: flex;
    margin: 0 auto;
    margin-top: 5px;
}