#search-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#filters-button{
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 8px;
}

#main-search{
    display: flex;
    margin-top: 10px;
}

#search-bar-container{
    align-self: center;
    margin-left: 41%;
}

#filter-menu{
    display: flex;
    width: 90%;
    height: fit-content;
    background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(85,37,222),rgb(177,167,246));
    align-self: center;
    color: black;
    flex-direction: column;
}

#all-filters{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.diet-type{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.health{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.dish-type{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.slider-container{
    height: 50%;
}

#all-slider{
    height: fit-content;
}