#home-content{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.home-header{
    margin-left: 20px;
}

.home-menu{
    display: flex;
}

.create{
    margin-left: 10px;
    height: fit-content;
    align-self: center;
}