.user-back{
    outline: 1px solid blueviolet;
    background-image: linear-gradient(135deg, rgba(234, 234, 234,0.06) 0%, rgba(234, 234, 234,0.06) 
    50%,rgba(169, 169, 169,0.06) 50%, rgba(169, 169, 169,0.06) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); 
    padding: 1%;
    display: flex;
    min-height: fit-content;
    height: 20%;
    position: relative;
    margin: 5px;
    align-items: center;
}

.searched{
    outline: 1px solid blueviolet;
    background-image: linear-gradient(135deg, rgba(234, 234, 234,0.06) 0%, rgba(234, 234, 234,0.06) 
    50%,rgba(169, 169, 169,0.06) 50%, rgba(169, 169, 169,0.06) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); 
    padding: 1%;
    width: 100%;
    display: flex;
    min-height: fit-content;
    height: 90%;
    position: relative;
    margin: 5px;
    align-items: center;
}

#result-user{
    margin: 0px;
    margin-left: 3%;
}

#result-username{
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.status-button{
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
}