#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(22, 22, 22);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main-content-holder {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  color: black;
  background-color: #ddcfff;
}

header {
  color: black;
  background-color: #ddcfff;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}