#friend-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#user-search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#requests{
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
    height: 25%;
}
.request-container{
    outline: 2px solid rgb(187, 163, 252);
    height: 100%;
    width: 48%;
}

#friends-container{
    display: flex;
    flex-direction: column;
    margin: 4.25%;
    height: 30%;
    outline: 2px solid rgb(187, 163, 252);
}

.request-cards{
    width: 95%;
    overflow: scroll;
    align-self: center;
    margin-top: 15px;
    height: 95%;
}