#user-search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 20%; */
}

#requests{
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
    height: 25%;
}
.request-container{
    outline: 2px solid rgb(187, 163, 252);
    height: 100%;
    width: 48%;
}

#friends-container{
    display: flex;
    justify-content: space-evenly;
    margin: 4.25%;
    height: 30%;
    outline: 2px solid rgb(187, 163, 252);
}