#api-meals{
    height: 90%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    overflow: scroll;
    outline: 1px solid white;
    border-radius: 15px;
    margin-bottom: 120px;
    background-image: linear-gradient(135deg, rgba(234, 234, 234,0.06) 0%, rgba(234, 234, 234,0.06) 
50%,rgba(169, 169, 169,0.06) 50%, rgba(169, 169, 169,0.06) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20));
}

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#create-plan{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 7px;
}

#searcher{
    margin: 0 auto;
    margin-top: 5px;
}