#api-meals{
    height: 90%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    overflow: scroll;
    outline: 1px solid white;
    border-radius: 15px;
    margin-bottom: 120px;
}

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#create-plan{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 7px;
}

#searcher{
    margin: 0 auto;
    margin-top: 5px;
}