.plan-button{
    outline: 1px solid black;
    border-radius: 0%;
    background-color: rgb(233, 233, 233);
    width: 100%;
    transition: background-color 0.25s;
    cursor: cell;
}

.plan-button:hover{
    background-color: #eadff5;
}

.heart-icon{
    height: 25px;
    width: auto;
}